<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" />
    <add key="URLService" value="https://localhost:7270"/>
    <add key="pc" value="/pcinfo"/>
    <add key="waitSec" value="30000"/>
  </appSettings>
</configuration>